.projects__search-input {
    width: 100%;
    background-color: transparent;
    border: 0.125rem solid var(--text);
    color: var(--text);
    padding: 0.5rem;
    font-size: inherit;
    font-family: inherit;
    border-radius: 0.25rem;
}

.projects__search-wrapper {
    width: 50%;
    display: block;
    margin: 0 auto 2rem;
    position: relative;
}

@media (max-width: 1024px) {
    .projects__search-wrapper {
        width: 100%;
        margin: 0 0 2rem;
    }
}

.projects__search-wrapper::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: var(--search-icon) no-repeat center;
    background-size: contain;
    inset-inline-end: 0.375rem;
    inset-block-start: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
