.switch {
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2rem;
    border: 0.125rem solid var(--text);
    border-radius: 50% / 87.5%;
    cursor: pointer;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider:before {
    position: absolute;
    content: "";
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: var(--text) no-repeat center;
    background-image: var(--theme-icon);
    top: -0.125rem;
    left: -0.125rem;
    background-size: 100%;
    transition: transform 0.4s;
}

input:checked + .slider:before {
    transform: translateX(1.5rem);
}
