.tooltip-container {
    position: relative;
    display: flex;
    gap: 1ch;
}

.tooltip-trigger {
    border-block-end: 0.125rem dashed var(--maroon);
    cursor: pointer;
}

.tooltip-content {
    position: absolute;
    inset-inline-start: 25%;
    display: none;
    background: var(--base);
    border: 0.125rem solid var(--text);
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 200px;
    text-align: center;
}

.tooltip-content.top {
    inset-block-end: 130%;
}

.tooltip-content.bottom {
    inset-block-start: 150%;
}

.tooltip-trigger:hover + .tooltip-content {
    display: block;
}
