html {
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

body {
    color: var(--text);
    font-family: "Roboto Mono";
    background-color: var(--base);
}

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s;
}

a:hover {
    color: var(--blue);
}

a:active {
    color: var(--teal);
}

img {
    max-width: 100%;
    display: block;
}

section:nth-child(odd) {
    background-color: var(--base);
}

section:nth-child(even) {
    background-color: var(--mantle);
}

h2 {
    text-align: center;
    margin-block-end: 3rem;
}
